@model Act5SweetBakery.Models.ViewModels.RecetaViewModel
@{
    ViewData["Title"] = "Receta";
    Layout = "_Layout";
}

<section id="receta">
    <h1 id="nombre">@Model.Receta.Nombre</h1>
    <img src="~/imagenes/recetas/@(Model.Receta.Id).png" id="imagen" />
    <p id="resena">
        @Model.Receta.Reseña
    </p>
    <div>
        <h3>Ingredientes</h3>
        <p id="ingredientes">
            @Html.Raw(Model.Receta.Ingredientes.Replace("\n", "<br />"))
        </p>
    </div>
    <div>
        <h3>Procedimiento</h3>
        <p id="procedimiento">@Html.Raw(Model.Receta.Procedimiento.Replace("\n", "<br />"))</p>
    </div>
</section>


<aside>
    <h2>Más Recetas</h2>

    @foreach (var R in Model.TresRecetas)
    {
        <a href="~/receta/@(R.Nombre.Replace(" ", "-"))">
            <div>
                <img src="~/imagenes/recetas/@(R.Id).png" />
            </div>
            <h3>@R.Nombre</h3>
        </a>

    }


</aside>

